* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f1f5f9;
  position: relative;
}

.sidebar {
  height: 100vh;
  width: 100%;
  background-color: white;
  transition: all 0.3s linear;
}

@media screen and (min-width: 800px) {
  .sidebar {
    width: 25%;
  }
}

.sidebar-center {
  padding: 1rem 2rem;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.logo {
  width: 250px;
}

.sidebar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  color: red;
  font-size: 1.8rem;
  cursor: pointer;
  background: inherit;
  border: none;
  transition: all 0.3s linear;
}

.close:hover {
  transform: rotate(360deg);
}

.nav-links {
  margin-top: 2.5rem;
  display: grid;
  grid-template-rows: repeat(4, 60px);
}

.nav-link {
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: grey;
  transition: all 0.3s linear;
}

.nav-link:hover {
  color: rgb(0, 121, 80);
}

.nav-icons {
  display: flex;
  width: 200px;
  margin-bottom: 1rem;
  justify-content: space-between;
  justify-self: center;
}

.nav-icons > * {
  color: rgb(0, 119, 119);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.nav-icons > *:hover {
  color: skyblue;
}

.hide-sidebar {
  transform: translateX(-100%);
}

.expand {
  position: absolute;
  top: 5%;
  left: 95%;
  color: rgb(50, 179, 230);
  font-size: 2rem;
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform-origin: scale(1);
  }
}
